<h4>Cambiar contraseña</h4>
<div class="row">
	<div class="col-sm-12">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="oldPassword" class="control-label col-sm-2">Contraseña actual:</label>
				<div class="col-sm-4">
					<input type="password" name="oldPassword" id="oldPassword" class="form-control input-sm" />
				</div>
			</div>
			<div class="form-group">
				<label for="newPassword" class="control-label col-sm-2">Contraseña nueva:</label>
				<div class="col-sm-4">
					<input type="password" name="newPassword" id="newPassword" class="form-control input-sm" />
				</div>
			</div>
			<div class="form-group">
				<label for="repeatPassword" class="control-label col-sm-2">Repita su contraseña:</label>
				<div class="col-sm-4">
					<input type="password" name="repeatPassword" id="repeatPassword" class="form-control input-sm" />
				</div>
			</div>
			<button class="btn btn-sm btn-primary btn-change-password">Cambiar contraseña</button>
			<button class="btn btn-sm btn-default btn-cancel">Cancelar</button>
		</form>
	</div>
</div>