<td><%=no_local%></td>
<td><%=id_encuesta%></td>
<td><%=moment(fe_encuesta).format('DD/MM/YYYY HH:mm')%></td>
<td><%=nu_orden%></td>
<td><%=de_pregunta%></td>
<td><%=de_respuesta_corta%></td>
<td><%=de_respuesta_larga%></td>
<td><%=ap_persona+' '+am_persona+' '+no_persona%></td>
<td><%=tipo_documento+' '+nu_documento%></td>
<td><%=edad%></td>
<td><%=co_sexo%></td>
<td><%=nu_mesa%></td>
<td><%=nu_documento_colaborador%></td>
<td><%=no_colaborador+' '+ap_colaborador+' '+am_colaborador%></td>
<td><%=in_promocion ? 'Sí': 'No'%></td>
<td><%=de_email%></td>
<td><%=tl_celular%></td>
<td><%=tl_fijo%></td>
<td><%=no_usuario%></td>
