<div class="brand-name">
    <a class="hidden-when-menu-compressed" href="#">Encuestas</a>
    <!--<a class="menu-icon-only" href="#">E</a>-->
</div>
<!-- ul class="menu-icon-only list-unstyled">
    <li><a href="#usuarios/"><span class="glyphicon glyphicon-user"></span></a></li>
    <li><a href="#roles/"><span class="glyphicon glyphicon-lock"></span></a></li>
    <li><a href="#encuestas/"><span class="glyphicon glyphicon-th-list"></span></a></li>
    <li><a href="#respuestas/"><span class="glyphicon glyphicon-ok"></span></a></li>
    <li><a href="#promociones/"><span class="glyphicon glyphicon-gift"></span></a></li>
</ul-->
<!-- 
    <li class="active"><a href="#usuarios/"><span class="glyphicon glyphicon-user"></span> Usuarios</a></li>
    <li><a href="#roles/"><span class="glyphicon glyphicon-lock"></span> Roles</a></li>
    <li class="active"><a href="#encuestas/"><span class="glyphicon glyphicon-th-list"></span> Plantillas</a></li>
    <li class="active"><a href="#respuestas/"><span class="glyphicon glyphicon-ok"></span> Respuestas</a></li>
    <li class="active"><a href="#promociones/"><span class="glyphicon glyphicon-gift"></span> Promociones</a></li>-->
<ul id="menuholder" class="menu-list list-unstyled hidden-when-menu-compressed">
</ul>

<ul class="menu-list list-unstyled">
	<li><a href="#me/contrasenia/"><span class="glyphicon glyphicon-cog"></span> Cambiar contraseña</a></li>
    <!--<li id="hide-menu" class="button-hide-menu menu-icon-only"><span class="glyphicon glyphicon-triangle-right"></span></li>-->
    <!--<li id="hide-menu" class="button-hide-menu hidden-when-menu-compressed"><span class="glyphicon glyphicon-triangle-left"></span></li>-->
</ul>