<div style="margin-bottom: 10px;">
	<button id="nueva-promocion" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nueva promoción</button>
</div>
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Local</th>
        <th>Motivo</th>
        <th>Registrado por</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>