



<div class="row">
    <div class="col-sm-6 " align="center">
        <div class="panel panel-default ">
            <div class="panel-body">
                
                        
                            <div class="panel panel-success">
                                <div class="panel-heading panel-headingk">
                                   <h3 class="panel-title panel-titlek"><%=DE_PREGUNTA%></h3>
                                </div>
                            </div>    
                            <div class="panel-body panel-bodyk">
                                <div class="row">
                                    <div class="col-xs-7 " >
                                    <ul class="list-group">
                                        <li class="list-group-item"> 
                                            <div class="row"> 
                                                <div class="col-xs-6" align="left"> 
                                                    <div >N°Encuestas</div>
                                                     

                                                </div>
                                                <div class="col-xs-6" align="center">                                                     
                                                    <span class="label label-success"><%=TOTAL%></span>
                                                </div>
                                            </div> 
                                        </li>
                                        <li class="list-group-item"> 
                                            <div class="row"> 
                                                <div class="col-xs-6" align="left"> 
                                                    <div >Local</div>
                                                     

                                                </div>
                                                <div class="col-xs-6" align="center">                                                     
                                                    <span class="label label-success"><%=NO_LOCAL%></span>
                                                </div>
                                            </div> 
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="col-xs-5 " align="center">
                                    <ul class="list-group">
                                        <li class="list-group-item"> 
                                            <div class="row"> 
                                                <div class="col-xs-8" align="left"> 
                                                    <div >Muy Malo</div>
                                                </div>
                                                <div class="col-xs-4" align="center">                                                     
                                                    <span class="label label-danger"><%=MUY_MALO%></span>
                                                </div>
                                            </div> 
                                        </li>
                                        <li class="list-group-item"> 
                                            <div class="row"> 
                                                <div class="col-xs-8" align="left"> 
                                                    <div >Malo</div>
                                                </div>
                                                <div class="col-xs-4" align="center">                                                     
                                                    <span class="label label-warning"><%=MALO%></span>
                                                </div>
                                            </div>  
                                        </li>
                                        <li class="list-group-item"> 
                                            <div class="row"> 
                                                <div class="col-xs-8" align="left"> 
                                                    <div >Regular</div>
                                                </div>
                                                <div class="col-xs-4" align="center">                                                     
                                                    <span class="label label-default"><%=REGULAR%></span>
                                                </div>
                                            </div> 
                                        </li>
                                        <li class="list-group-item"> 
                                           <div class="row"> 
                                                <div class="col-xs-8" align="left"> 
                                                    <div >Bueno</div>
                                                </div>
                                                <div class="col-xs-4" align="center">                                                     
                                                    <span class="label label-primary"><%=BUENO%></span>
                                                </div>
                                            </div> 
                                        </li>
                                        <li class="list-group-item"> 
                                            <div class="row"> 
                                                <div class="col-xs-8" align="left"> 
                                                    <div >Muy Bueno</div>
                                                </div>
                                                <div class="col-xs-4" align="center">                                                     
                                                    <span class="label label-success"><%=MUY_BUENO%></span>
                                                </div>
                                            </div> 
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
             
            </div>
        </div>
       
    
    

    
    <div class="col-sm-6 " align="center">
         <div class="row">
            <div class="panel panel-default ">
                <div class="panel-body">
                    
                        <div class="<%='col-xs-12 img-reporte-'+NU_PREGUNTA%>" align="center">
                
                        </div>
                   
                </div>
            </div>
            
        </div>
    </div>

</div>
